{{#extend "base"}}
  {{#content "title"}}
    Home Page
  {{/content}}

  {{#content "content"}}
    <h2>
      Welcome to {{site.title}}!
    </h2>
    <p>
      Here is some example content on the homepage, happy coding.
    </p>
  {{/content}}
{{/extend}}