// Variables
$background-color: #333;
$text-color: #f8f8f8;
$header-footer-bg: #1a1a1a;
$font-family: sans-serif;

// Base styles
body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  line-height: 1.4;
  background-color: $background-color;
  color: $text-color;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header,
footer {
  background: $header-footer-bg;
  padding: 1em;
  text-align: center;

  h1,
  p {
    margin: 0;
  }
}

// Typography
h2 {
  margin: 0 0 0.5em 0;
}

p {
  margin: 0;
}

a,
a:visited {
  color: $text-color;
  text-decoration: underline;
}
